<div class=" sidebar" role="navigation">
        <div class="navbar-collapse">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <ul class="nav" id="side-menu">
        <li>
          <a href="/admin"><i class="fa fa-home nav_icon"></i>Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Manage Product<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="/admin/product/add-product"><i class="fa fa-edit nav_icon"></i>Add Product<span class="nav-badge-btm"></span></a>
            </li>
            <li>
              <a href="/admin/product/list-product"><i class="fa fa-table nav_icon"></i>List Product</a>
            </li>
            <li>
              <a href="/admin/list_orders"><i class="fa fa-table nav_icon"></i>List order<span class="nav-badge-btm"></span></a>
            </li>
          </ul>
          <!-- //nav-second-level -->
        </li>
      </ul>
      <div class="clearfix"> </div>
      <!-- //sidebar-collapse -->
    </nav>
  </div>
</div>
